
<h3>Update Delivery Status: </h3>
<form #updateForm="ngForm" (ngSubmit)= " updateForm.valid && updateOrder(updateForm)">
    <div class="form-group">
        <label>Enter Order Id :</label>
        <input type = "text" class="form-control" name ="orderId" ngModel #IdCtrl=ngModel required minlength="10">
        <div *ngIf="IdCtrl.errors!=null && IdCtrl.errors.required">
            Order Id is required.
         </div>
        <div *ngIf ="IdCtrl.errors!=null && IdCtrl.errors.minlength">
            Minimum length should be 10.
        </div>
    </div>
<br>
    <div class="form-group">
        <label>Enter Delivery Status :</label>
        <input type = "text" class="form-control" name = "deliveryStatus" ngModel #statusCtrl=ngModel required >
        <div *ngIf="statusCtrl.errors!=null && statusCtrl.errors.required">
           Delivery Status is required.
            </div>
   
    </div>
<br>
    <input type = "submit" value = "Update Order">
</form>

<div *ngIf="foundStatus==='found'" >
<h3>Delivery Status updated Successfully for the id : {{rawMaterialOrder.orderId}}</h3>
</div>

<div *ngIf="foundStatus==='notFound'">
<h3>{{errorMsg}}</h3>
</div>



