<div class="container" style="margin-top: 70px; margin-left: 110px;">
<h1 class="text-center">Supplier List</h1>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Supplier Id</th>
        <th scope="col">Supplier Name</th>
        <th scope="col">Supplier Address</th>
        <th scope="col">Supplier PhoneNo</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let supplier of supplierArray">
        <td>{{supplier.supplierId}}</td>
        <td>{{supplier.supplierName}}</td>
        <td>{{supplier.supplierAddress}}</td>
        <td>{{supplier.supplierPhoneNo}}</td>
    </tr>
    </tbody>
</table>

<br>
<br>
<form #form ="ngForm"  (ngSubmit)="form.valid && fetchSupplierById(form)">
    <div class="form-group">
        <label>Supplier ID</label>
            <input type="number" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="id" ngModel #idCtrl=ngModel required >
            <div *ngIf="idCtrl.errors!=null && idCtrl.errors.required">
                 Id is required
            </div>
        </div>
    
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Find Supplier</button>
</form>

<br>
<div *ngIf="fetchedSupplier!==null">
    <div class="alert alert-info" role="alert">
    <br>Id = {{fetchedSupplier.supplierId}}
    <br>Name = {{fetchedSupplier.supplierName}}
    </div>
    </div>


<div *ngIf="foundStatus=='notfound'">
    Supplier not found !
</div>

<br>
 <button type="button" class="btn btn-link" href="" routerLink="../add-supplier">Click here to add supplier.</button>
    
 </div>   
